.leaflet-container {
  height: 100vh;
}

.sr-only {
  display: none;
}

.Toastify__toast-body {
  white-space: pre-line;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.Toastify__toast-body {
  color: black;
}

.Toastify__toast {
  border-radius: 5px;
}

.current-view {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  border: none;
}

.donut_css {
  background-color: white;
  padding-bottom: 20px;
  height: 40vh;
  width: 40vw;
}

.clicked_topleft_btn::before {
  left: .4rem;
  content: '✓';
  font-weight: 600;
}
